*{
    font-family: Arial, Helvetica, sans-serif;
}

.gridwrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 0.5fr;
    grid-template-areas:
        "background-left header      header       background-right"
        "background-left whatwedo description  background-right"
        "background-left footer      footer       background-right";
}

.description  {
    grid-area: description;
    text-align: start;
    margin:3px 10px;
}
.images{
    grid-area: description;
    border: 10px solid transparent;
    margin: 10em auto;
    
}
.Box1 img{
    height: 10em;
    width: 20em;
    border-style: double;
    border-width: 5px;
    border-color: black;
}
.Box2 img{
    height: 10em;
    width: 20em;
    border-style: double;
    border-width: 5px;
    border-color: black;
}








.header{
    grid-area: header;
}
.topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav li{
    display: inline;
    float:left;
}
.topnav a{
    display: block;
    padding: 12px;

}

.whatwedo{
    grid-area: whatwedo;
}
.background-left{
    grid-area: backgroud-left;
}
.background-right{
    grid-area: background-right;
}

.box{
    background-color: brown;
    height: 80%;
    width: 90%;
    color: white;
}
.box-title{
    margin-left: 5%;
    padding-top: 7%;
}

.line{
    border: 1px solid white;
    margin-left: 5%;
    margin-right: 20%;
}
.services{
    margin-left: 7%;
    font-size: 0.8em;
}

.list-head{
    margin-bottom: 1px;
}
.sub-list{
    display:block;
    margin-left:5%;
    margin-top: 1px;
    margin-bottom:1px;

}






































/* Nebras Start CSS Section */
.description{
    grid-area: description;
}