.gridwrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 0.5fr;
    grid-template-areas:
        "background-left header      header       background-right"
        "background-left whatwedo description  background-right"
        "background-left footer      footer       background-right";
}


.header{
    grid-area: header;
}

.whatwedo{
    grid-area: whatwedo;
}
.background-left{
    grid-area: backgroud-left;
}
.background-right{
    grid-area: background-right;
}




.container{
    color: #c04000;
}




































/* Nebras Start CSS Section */
.description{
    grid-area: description;
}